<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do Manager</title>
</head>
<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <%- include('header.ejs') %>
            <%- include('footer.ejs') %>
            <%- include('todos.ejs') %>
            <form>
                <div class="flex gap-2 py-4">
                    <div class="flex-auto">
                        <input type="text" placeholder="What's next?" class="border-gray-300 text-gray-900 w-full rounded p-2 text-sm"  required/>
                    </div>
                    <div class="flex-auto">
                        <input type="date" class="border-gray-300 text-gray-900 w-full rounded p-2 text-sm leading-4" />
                    </div>
                    <div class="flex-none">
                        <button type="submit" class="bg-green-600 text-white px-5 py-1.5 rounded font-medium mr-2 mb">Add</button>
                    </div>
                </div>
            </form>
            
        </div>
        
    </div>
   
   



   <!-- <table>
        <% for(var i = 0;i<allTodos.length; i++) { %>
            <tr>
                <td>
                    <%= allTodos[i].title %>
                </td>
                </tr>
        
        <% } %> 
    </table>
-->
</body>
</html>